header.header.animated.fadeIn
  
  .header__wrapper
    .header__row
      a(href='#').header__logo
        img(src="../../img/logo.png", alt="logo" title='logo')
      nav.nav.header-nav#menu
        ul.nav__list.header-list
          each item in ['home', 'case studies', 'services', 'industries', 'technolgies', 'about us', 'contacts']
            li.header__item
              a(href='#').header__link= item

header
  block header
    block top
    block nav