meta(charset='utf-8')
// <base href="/">
title Zelta Rudens
meta(name='description', content='')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
// Template Basic Images Start
meta(property='og:image', content='path/to/image.jpg')
link(rel='icon', href='img/favicon/favicon.ico')
link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-touch-icon-180x180.png')
// Template Basic Images End
// Custom Browsers Color Start
meta(name='theme-color', content='#000')
// Custom Browsers Color End
link(rel='stylesheet', href='css/main.min.css')

// Custom HTML
.container
	.row
		.col-8.offset-2
			img.img-responsive(src='img/preview.jpg', alt='Start HTML5 Template')
			br
			h2 Welcome to startup HTML template OptimizedHTML 4!
			p
				| Lorem ipsum dolor sit amet,
				strong consectetur
				| adipisicing elit. Ad distinctio animi, dolorum eaque praesentium unde aliquid, mollitia itaque voluptate quos modi et incidunt tempora fugiat voluptatum quia esse dolor repellat.
			p Nemo velit incidunt assumenda, eaque, sequi vitae facilis doloribus qui totam, fuga iure dignissimos ab non praesentium. Vitae similique, corrupti aliquam nam modi explicabo distinctio qui cum officia ullam quam!
			p Aperiam veritatis debitis quibusdam animi totam quos mollitia aspernatur porro consectetur id quod tempore numquam, ullam ex quae quasi voluptatem incidunt placeat asperiores quas autem! Labore modi quae nulla illo!
			br
			.row
				.col-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quo vero molestias, esse doloribus corrupti, nemo minus ullam tempore tenetur magni aut quos soluta sit adipisci eius expedita amet non.
				.col-6 Odit enim harum minus nam excepturi quae vitae consectetur repudiandae natus neque ab asperiores repellat quo dicta vel accusamus voluptatum rerum autem eaque rem laudantium, sint veritatis. Minus, unde rem.
			br
script(src='js/scripts.min.js')